## American Air lines tweet classificaction

In [69]:
import pandas as pd
import numpy as np
import re
from textblob import TextBlob
from wordcloud import wordcloud
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [5]:
data = pd.read_csv('Tweets.csv')
data.head(2)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)

In [59]:
# Getting the whole data overall information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
tweet_id                        14640 non-null int64
airline_sentiment               14640 non-null object
airline_sentiment_confidence    14640 non-null float64
negativereason                  9178 non-null object
negativereason_confidence       10522 non-null float64
airline                         14640 non-null object
airline_sentiment_gold          40 non-null object
name                            14640 non-null object
negativereason_gold             32 non-null object
retweet_count                   14640 non-null int64
text                            14640 non-null object
tweet_coord                     1019 non-null object
tweet_created                   14640 non-null object
tweet_location                  9907 non-null object
user_timezone                   9820 non-null object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

Data pre-processing

In [14]:
tweet = data['text']
tweet.head(2)

0                  @VirginAmerica What @dhepburn said.
1    @VirginAmerica plus you've added commercials t...
Name: text, dtype: object

In [15]:
def cleanT(text):
    text = re.sub(r'@[A-Za-z-9]+', '',text) # Removed @ mentioned
    text = re.sub(r'#', '', text) # Removing the hashtag symbol
    text = re.sub(r'RT[\s]+', '', text) # Removing RT
    text = re.sub(r'https?:\/\/\s+', '', text) # Remove the hyperlink
    return text

In [16]:
tweet = tweet.apply(cleanT)

In [17]:
tweet.head(5)

0                                          What  said.
1     plus you've added commercials to the experien...
2     I didn't today... Must mean I need to take an...
3     it's really aggressive to blast obnoxious "en...
4             and it's a really big bad thing about it
Name: text, dtype: object

In [49]:
# Change pandas series to dataFrame
tweet_df = tweet.to_frame()
tweet_df.head(3)

                                                text
0                                        What  said.
1   plus you've added commercials to the experien...
2   I didn't today... Must mean I need to take an...

Getting subjectivity and polarity of the whole five Airlines tweet

In [50]:
# Create a function to get the subjectivity 
def getsub(text):
    return TextBlob(text).sentiment.subjectivity

In [51]:
# Cretae a function to get polarity
def getpol(text):
    return TextBlob(text).sentiment.polarity

In [56]:
# Create two columns polarity and subjectivity
tweet_df['Subjectivity'] = tweet_df['text'].apply(getsub)
tweet_df['Polarity'] = tweet_df['text'].apply(getpol)

In [55]:
# Show the new DataFrame
tweet_df.head()

                                                text  Subjectivity  Polarity
0                                        What  said.      0.000000  0.000000
1   plus you've added commercials to the experien...      0.000000  0.000000
2   I didn't today... Must mean I need to take an...      0.687500 -0.390625
3   it's really aggressive to blast obnoxious "en...      0.350000  0.006250
4           and it's a really big bad thing about it      0.383333 -0.350000

Check how well the whole sentiments are distributed

In [70]:
obj = wordcloud()

TypeError: 'module' object is not callable

In [66]:
# Plot the word cloud
words = ' '.join( [twt for twt in tweet_df['text']])
word_cloud = wordcloud(width = 500, height = 300, random_state = 21, max_font_size = 119).generate(words)
plt.imshow(word_cloud, interpolation = "bilinear")
plt.axis('off') # remove the axis
plt.show()

TypeError: 'module' object is not callable

Analyzing the sentiments indivisually (five of the Air lines sentiment indivisually)